<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Etudiants List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-primary">
      <thead>
      <tr>
        <th>N° étudiant</th>
        <th>Lastname</th>
        <th>Firstname</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let etudiant of etudiants | async">
        <td>{{etudiant.numet}}</td>
        <td>{{etudiant.nom}}</td>
        <td>{{etudiant.prenom}}</td>
        <td><button (click)="deleteEtudiant(etudiant.numet)" class="btn btn-danger">Delete</button>
          <button (click)="detailEtudiant(etudiant.numet)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
